.logo-text {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #ff6b6b, #5563de);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* NavBar.css */

.navbar {
  background-color: #343a40; /* Dark color for the navbar */
}

.navbar-brand {
  color: #ffffff; /* White color for the navbar brand */
  font-weight: bold;
}

.nav-link {
  color: #ffffff; /* White color for the nav links */
}

.dropdown-menu {
  background-color: #343a40; /* Dark color for the dropdown menu */
}

.dropdown-item {
  color: #ffffff; /* White color for the dropdown items */
}

.logo-text {
  font-size: 2.5rem;
}
