/* Navbar */
.navbar {
  background-color: #343a40; /* Dark color for the navbar */
  height: 5rem;
}

/* Navbar brand */
.navbar-brand {
  color: #ffffff; /* White color for the navbar brand */
  font-family: "Arial", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(45deg, #ff6b6b, #5563de);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand span {
  font-size: 28px;
}

.nav-btn-icon {
  margin-right: 5px;
}
