    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 100px;
    }
    .form-container {
      background-color: #fff;
      border-radius: 5px;
      padding: 40px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .form-container h1 {
      font-size: 24px;
      margin-bottom: 30px;
      text-align: center;
    }
    .form-container p {
      text-align: center;
    }